<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/Logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Abdullah Tariq's Twitter Trend Application
			</p>
		</div>
	</div>
	<div class ="text-center">
		<h2>You can use this application to search through Twitter Trends.</h2>
	</div>
	<div class="text-center">
	<p>
		<a class="btn btn-primary btn-lg" href="http://localhost:3000/#!/locations">Search</a>
	</p>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				Pakistan
			</h2>
			<ul>
				<li>#AbdullahTariqIsAmazing</li>
				<li>#ChayeVSCoffee</li>
				<li>#BlueSpeakers</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>
				France
			</h2>
			<ul>
				<li>#AbdullahTariqIsAmazing</li>
				<li>#CoffeeVSBeer</li>
				<li>#RedSpeakers</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>
				Japan
			</h2>
			<ul>
				<li>#Xulfi</li>
				<li>#Herbal</li>
				<li>#MoreAnime</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>
				Nepal
			</h2>
			<ul>
				<li>#AbdullahTariqIsAmazing</li>
				<li>#WeNeedMoreTea</li>
				<li>#BrownSheepImports</li>
			</ul>
		</div>
	</div>
</section>